<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-muted text-center small">
		{{ $.Site.Copyright }} - Powered by <a href="https://gitlab.com/writeonlyhugo/">WriteOnlyHugo © 2022-present Iago Bozza</a>
        </p>
      </div>
    </div>
  </div>
</footer>
